

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

.card{
    background-color: black;
    display: flex;
    align-items: center;
    align-content: center;
    /* margin-left: 100px; */
    transition:cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: all 0.3s;
    border: whitesmoke solid 4px;
}

.card-text{
    color: white;
}

.card-title{
    color: red;
}

.img-fluid{
    width: 300px;
    height: 290px;}

 .card:hover{
    transform: scale(1.05);
 }   


.text{
    color: white;
}
 
.header{
    color: red;
}

/* @media only screen and (min-width:200px) and (max-width:567px){
    .card{
        width: 100%;
    }
} */

*{
    padding: 0;
    margin: 0;
}
.card{
    background-color: black;
    color: azure;
}
.btn{
    justify-content: center;
    display: flex;
    align-items: center;
}
.card-header{
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: black;
    color: red;
}
.img-fluid{
    width: 80vh;
    height: 300px;
}

/* .container-fluid{
animation-duration: 3s;
animation-name: slidedown;
}
@keyframes slidedown{
from{
    margin-top: 100%;
}
to{
    margin-top: 0%;
}
} */
.social-media {
    list-style: none; /* Remove default list style */
    padding: 0; /* Remove any default padding */
}

.social-media li {
    margin-right: 10px; /* Adjust spacing between icons */
}
.navbar-nav li {
    position: relative;
    text-decoration: none;
}

.navbar-nav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: yellow;
    transition: width 0.5s ease;
}

.navbar-nav li:hover::after {
    width: 100%;
}

.navbar-nav .nav-link {
    color: blue;
    text-decoration: none; /* Remove text decoration */
    position: relative;
}